[init]
	defaultBranch = main
[user]
	name = chaos-yeeter
	email = kayasthamihir11@gmail.com
	signingkey = ~/.ssh/github.pub
[commit]
	gpgSign = true
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
[alias]
	st = status
	co = checkout
	br = branch
	hist = log --pretty=format:'%C(auto)%h %C(auto)%d %<(80,trunc)%Creset%s %Cblue%<(15,trunc)%an %Cgreen%ar' --abbrev-commit
	undo = reset --soft HEAD~
