[gpg]
	format = ssh
[user]
	name = chaos-yeeter
	email = kayasthamihir11@gmail.com
	signingkey = ~/.ssh/github.pub
[commit]
	gpgSign = true
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
[alias]
	st = status
	co = checkout
	br = branch
	hist = log --graph --pretty=format:'%Cred%h %<(70,trunc)%Creset%s %Cgreen%ar %Cblue%an' --abbrev-commit
	undo = reset --soft HEAD~
