@define-color background-color rgb(18, 18, 18);
@define-color accent-color rgba(255, 255, 255, 0.125);
@define-color text-color white;

@define-color gray-700 #616161;
@define-color steel-blue #557A9B;
@define-color teal-800 #00695C;
@define-color green-800 #2E7D32;
@define-color orange-800 #EF6C00;
@define-color red-800 #C62828;
@define-color cyan-900 #006064;

* {
  border: none;
  font-family: Inter;
  font-size: 14px;
  min-height: 0;
  border-radius: 0;
}

window#waybar {
  background: @background-color;
}

tooltip {
  background: @background-color;
  border-radius: 0.5rem;
}

tooltip label {
  color: @text-color;
}

#workspaces {
  background: transparent;
}

#workspaces button {
  background: transparent;
  color: @text-color;
  min-width: 1.5rem;
  padding: 0 0.35rem;
  border-radius: 0 0 0.5rem 0.5rem;
}

#workspaces button.active {
  background: @accent-color;
}

#clock {
  color: @text-color;
  background: transparent;
  padding: 0 1rem;
}

.modules-right {
  background: transparent;
  padding: 0;
}

#idle_inhibitor {
  color: @text-color;
  padding: 0 0.4rem;
  margin: 0 0.25rem;
  border-radius: 0 0 0.5rem 0.5rem;
  font-size: 1.4rem;
}

#idle_inhibitor.activated {
  background: @teal-800;
}

#battery {
  color: @text-color;
  padding: 0 0.7rem;
  margin: 0 0.25rem;
  border-radius: 0 0 0.5rem 0.5rem;
}

#battery.full {
  background: @green-800;
}

#battery.warning {
  background: @orange-800;
}

#battery.critical {
  background: @red-800;
}

#wireplumber {
  color: @text-color;
  padding: 0 0.4rem;
  margin: 0 0.25rem;
  border-radius: 0 0 0.5rem 0.5rem;
}

#wireplumber.muted {
  background: @steel-blue;
}

#clock,
#idle_inhibitor,
#battery,
#wireplumber {
  margin: 0 0.25rem;
  padding: 0 0.75rem;
}

#tray {
  margin: 0 0.25rem;
  padding: 0;
}

#tray * {
  box-shadow: none;
}

#tray menu {
  border-radius: 0.5rem;
  background: @background-color;
  color: @text-color;
}

/* ref: https://lazka.github.io/pgi-docs/Gtk-3.0/classes/MenuItem.html#class-details */
#tray menu menuitem {
  color: @text-color;
}

#tray menu menuitem:not(disabled):hover {
  background: @accent-color;
}

#tray menu menuitem:disabled {
  color: @gray-700;
}
