* {
  border: none;
  font-family: FiraCode;
  min-height: 0;
  border-radius: 0;
}

window#waybar {
  background: transparent;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
  color: white;
  padding: 0px;
}

#workspaces button {
  color: white;
  padding: 0.25rem;
  border-radius: 0.5rem;
  background: inherit;
  background: transparent;
  background-clip: border-box;
}

/* fix off-center workspace labels */
#workspaces button > * {
  margin-left: 0.1rem;
}

#workspaces button.active {
  background: rgba(100, 114, 125, 0.6);
}

#clock {
  color: white;
  padding: 5px 10px;
}

#idle_inhibitor {
  color: white;
  border-radius: 0.5rem;
  padding-right: 0.3rem; /* this is done to fix off-center icon */
  font-size: 1.5rem;
}

#idle_inhibitor.activated {
  /* This is done to fix offset between activated and deactivated icons */
  margin-top: 1px;
  background: rgba(0, 113, 157, 0.8);
}

#battery {
  color: white;
  border-radius: 0.5rem;
  margin: 0 0.5rem;
  padding: 0 10px;
}

#battery.warning {
  background: orange;
}

#battery.critical {
  background: red;
}

#battery.full {
  background: green;
}

#wireplumber {
  color: white;
  padding: 0 10px;
  border-radius: 0.5rem;
}

#wireplumber.muted {
  background: rgb(136, 8, 8);
}

#tray {
  padding: 0 5px;
}

#tray menu {
  border-radius: 5px;
}
